{% extends "layout.html" %}
{% block title %}UWI Stat Platform - Admin Dashboard{% endblock %}

{{ super() }}

{% block content %}
    <div id="about" class="section" style="background-color: #191B32;">
      <div class="left-align white-text" style = "padding: 50px;">
        <div class="row">
        <div class="col s12 m8"">
        <h1>Welcome to <br><strong>The UWI STAT Platform</strong></h1>
        <h5>Admin Dashboard</h5>
        </div>
        <div class="col s12 m4 hide-on-small-only">
          <img src="{{ url_for('static', filename='images/Chart.png') }}" alt="UWI Logo" style="width:70%; height: auto;">
        </div>
        </div>
      </div>

      <div class="row" style = "padding-left: 50px;">
        <div class="col s12 m4">
          <div class="card purple lighten-3">
            <div class="card-content">
              <span class="card-title">Getting Started</span>
              <p>To get started, upload your file.Accepted file. types are; spreadsheets(xlsx, xls) or csv files</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card purple lighten-3">
            <div class="card-content">
              <span class="card-title">Labels</span>
              <p>Provide customizations for the chart, headers, and axis labels.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card purple lighten-3">
            <div class="card-content">
              <span class="card-title">Saved uploads</span>
              <p>View a list of your saved data files and generate graphs from there</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Dashboard Section -->
    <div id="dashboard" class="section" style="padding: 50px;">
      <h5 class="center-align">Dashboard</h5>
      <div class="row">
        <!-- Upload File -->
        <div class="col s12 m4">
          <div class="card purple lighten-5 center-align">
            <div class="card-content">
              <i class="material-icons large">cloud_upload</i>
              <p><strong>Upload File</strong></p>
            </div>
          </div>
        </div>

        <!-- Customizations -->
        <div class="col s12 m4">
          <div class="card purple lighten-5">
            <div class="card-content">
              <span class="card-title">Data Fields</span>
              <div class="input-field">
                <select>
                  <option value="2024" selected>2024</option>
                </select>
                <label>Select Year</label>
              </div>
              <div class="input-field">
                <select>
                  <option value="St. Augustine" selected>St. Augustine</option>
                </select>
                <label>Select Campus</label>
              </div>
              <div class="input-field">
                <select>
                  <option value="Enrollment" selected>Enrollment</option>
                </select>
                <label>Data Fields</label>
              </div>
              <div class="input-field">
                <select>
                  <option value="Pie Chart" selected>Pie Chart</option>
                </select>
                <label>Graphs</label>
              </div>
            </div>
          </div>
        </div>

        <!-- Saved Charts -->
        
        <div class="col s12 m4">
          <div class="card purple lighten-5">
            <div class="card-content">
              <span class="card-title">Saved Uploads</span>
              <ul>
                {% if files %}
                  {% for file in files %}
                    <li>{{file.name}}</li>
                  {% endfor %}
                {% else %}
                  <li>No files uploaded yet</li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Viewable Charts -->
    <div class="container">
      <h5 class="center-align">Viewable Charts:</h5>
      <div class="card" style="border: 2px solid #6a1b9a;">
        <div class="card-content">
          <canvas id="chartCanvas" width="100%" height="500"></canvas>
        </div>
      </div>
    </div>
    </div>


{% endblock %}